@import "tailwindcss";
@theme {
  --color-background: rgb(var(--color-bg));
  --color-surface: rgb(var(--color-bg-surface));
  --color-foreground: rgb(var(--color-fg));
  --color-border: rgb(var(--color-border-raw));
  --color-primary: rgb(var(--color-primary-raw));
  --color-primary-light: rgb(var(--color-primary-light-raw));
  --color-primary-dark: rgb(var(--color-primary-dark-raw));
  --color-secondary: rgb(var(--color-secondary-raw));
  --color-secondary-light: rgb(var(--color-secondary-light-raw));
  --color-secondary-dark: rgb(var(--color-secondary-dark-raw));
  --color-warning: rgb(var(--color-warning-raw));
  --color-warning-light: rgb(var(--color-warning-light-raw));
  --color-warning-dark: rgb(var(--color-warning-dark-raw));
  --color-info: rgb(var(--color-info-raw));
  --color-info-light: rgb(var(--color-info-light-raw));
  --color-info-dark: rgb(var(--color-info-dark-raw));
  --font-sans:
    Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  body {
    margin: 0;
    font-family: var(--font-sans);
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}

html,
body {
  height: 100%;
}

:root {
  /* Background & Foreground */
  --color-bg: 255 255 255;
  --color-bg-surface: 245 245 245;
  --color-fg: 15 23 42;
  --color-border-raw: 203 213 225;

  /* Primary (Teal) */
  --color-primary-raw: 19 78 74;
  --color-primary-light-raw: 45 135 130;
  --color-primary-dark-raw: 12 57 54;

  /* Secondary (Indigo) */
  --color-secondary-raw: 79 70 229;
  --color-secondary-light-raw: 99 102 241;
  --color-secondary-dark-raw: 55 48 163;

  /* Warning (Amber) */
  --color-warning-raw: 245 158 11;
  --color-warning-light-raw: 251 191 36;
  --color-warning-dark-raw: 180 83 9;

  /* Info (Sky Blue) */
  --color-info-raw: 14 165 233;
  --color-info-light-raw: 56 189 248;
  --color-info-dark-raw: 3 105 161;
}

[data-theme="dark"] {
  --color-bg: 23 23 23;
  --color-bg-surface: 38 38 38;
  --color-fg: 214 211 209;
  --color-border-raw: 64 64 64;

  /* Primary (Teal) */
  --color-primary-raw: 45 135 130;
  --color-primary-light-raw: 64 163 158;
  --color-primary-dark-raw: 19 78 74;

  /* Secondary (Indigo) */
  --color-secondary-raw: 129 140 248;
  --color-secondary-light-raw: 165 180 252;
  --color-secondary-dark-raw: 79 70 229;

  /* Warning (Amber) */
  --color-warning-raw: 251 191 36;
  --color-warning-light-raw: 253 224 71;
  --color-warning-dark-raw: 202 138 4;

  /* Info (Sky Blue) */
  --color-info-raw: 56 189 248;
  --color-info-light-raw: 125 211 252;
  --color-info-dark-raw: 14 165 233;
}
